In [45]:
import pandas as pd
import numpy as np

In [46]:
numeros = pd.Series([1, 2, 3, 4, 5])
numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [47]:
numeros = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
numeros

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [48]:
datos = {'a': 1, 'b': 2, 'c': 3}
serie_dict = pd.Series(datos)
serie_dict

a    1
b    2
c    3
dtype: int64

In [49]:
numeros['c']

3

In [50]:
numeros['a'] = 10

In [51]:
numeros

a    10
b     2
c     3
d     4
e     5
dtype: int64

In [54]:
cuadrados = numeros**2
cuadrados

a    100
b      4
c      9
d     16
e     25
dtype: int64

In [53]:
numeros + 3

a    13
b     5
c     6
d     7
e     8
dtype: int64

In [55]:
numeros

a    10
b     2
c     3
d     4
e     5
dtype: int64

In [56]:
numeros.mean()

4.8

In [57]:
numeros.sum()

24

In [58]:
numeros.max()

10

In [59]:
numeros.min()

2

In [62]:
numeros[numeros <= 3]

b    2
c    3
dtype: int64

In [63]:
numeros.apply(np.log)

a    2.302585
b    0.693147
c    1.098612
d    1.386294
e    1.609438
dtype: float64

In [64]:
nombres = pd.Series(['Ana', 'Luis', 'Pedro'])
edades = pd.Series([25, 30, 35])
df_personas = pd.DataFrame({'Nombre': nombres, 'Edad': edades})
df_personas

  Nombre  Edad
0    Ana    25
1   Luis    30
2  Pedro    35