In [1]:
import pandas as pd

In [2]:
fechas = pd.date_range(start='2020-01-01', periods=6, freq='D')
valores = [34, 44, 65, 53, 39, 76]
serie_temporal = pd.Series(valores, index=fechas)
print(serie_temporal)

2020-01-01    34
2020-01-02    44
2020-01-03    65
2020-01-04    53
2020-01-05    39
2020-01-06    76
Freq: D, dtype: int64

In [3]:
print(serie_temporal['2020-01-03'])

65

In [4]:
print(serie_temporal['2020-01-02':'2020-01-05'])

2020-01-02    44
2020-01-03    65
2020-01-04    53
2020-01-05    39
Freq: D, dtype: int64

In [6]:
data = {
    'Fecha': pd.date_range(start='2020-01-01', periods=6, freq='D'),
    'Ventas': [345, 456, 567, 678, 234, 590]
}
df = pd.DataFrame(data)
print(df)

       Fecha  Ventas
0 2020-01-01     345
1 2020-01-02     456
2 2020-01-03     567
3 2020-01-04     678
4 2020-01-05     234
5 2020-01-06     590

In [7]:
df.set_index('Fecha', inplace=True)
print(df)

            Ventas
Fecha
2020-01-01     345
2020-01-02     456
2020-01-03     567
2020-01-04     678
2020-01-05     234
2020-01-06     590

In [9]:
resumen_mensual = df.resample('M').mean()
print(resumen_mensual)

                Ventas
Fecha
2020-01-31  478.333333

In [10]:
df['Ventas_desplazadas'] = df['Ventas'].shift(1)
df['Cambio_ventas'] = df['Ventas'].diff()
print(df)

            Ventas  Ventas_desplazadas  Cambio_ventas
Fecha
2020-01-01     345                 NaN            NaN
2020-01-02     456               345.0          111.0
2020-01-03     567               456.0          111.0
2020-01-04     678               567.0          111.0
2020-01-05     234               678.0         -444.0
2020-01-06     590               234.0          356.0