In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['Manzanas', 'Naranjas', 'Plátanos', 'Uvas', 'Peras'],
    'Precio': [100, 80, 60, 120, 90]
}
df = pd.DataFrame(data)
print(df)

   Producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Plátanos      60
3      Uvas     120
4     Peras      90

In [3]:
df.set_index('Producto', inplace=True)

In [4]:
print(df)

          Precio
Producto
Manzanas     100
Naranjas      80
Plátanos      60
Uvas         120
Peras         90

In [5]:
precio_uvas = df.loc['Uvas']
print(precio_uvas)

Precio    120
Name: Uvas, dtype: int64

In [6]:
nuevo_orden = ['Uvas', 'Manzanas', 'Naranjas', 'Peras', 'Plátanos', 'Melones']
df_reindexado = df.reindex(nuevo_orden)
print(df_reindexado)

          Precio
Producto
Uvas       120.0
Manzanas   100.0
Naranjas    80.0
Peras       90.0
Plátanos    60.0
Melones      NaN

In [7]:
index2 = pd.Index(['Manzanas', 'Peras', 'Melones'])
interseccion = df.index.intersection(index2)
print(interseccion)

Index(['Manzanas', 'Peras'], dtype='object')