In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['Manzanas', 'Naranjas', 'Plátanos', 'Uvas', 'Peras'],
    'Precio': [100, 80, 60, 120, 90]
}

df = pd.DataFrame(data)
print(df)

   Producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Plátanos      60
3      Uvas     120
4     Peras      90

In [3]:
df.set_index('Producto', inplace=True)

In [4]:
print(df)

          Precio
Producto
Manzanas     100
Naranjas      80
Plátanos      60
Uvas         120
Peras         90

In [5]:
nuevo_orden = ['Uvas', 'Manzanas', 'Melones', 'Naranjas', 'Peras', 'Plátanos']
df_reindexado = df.reindex(nuevo_orden)
print(df_reindexado)

          Precio
Producto
Uvas       120.0
Manzanas   100.0
Melones      NaN
Naranjas    80.0
Peras       90.0
Plátanos    60.0

In [6]:
df_renombrado = df.rename(index={'Manzanas': 'Apples', 'Naranjas': 'Oranges'})
print(df_renombrado)

          Precio
Producto
Apples       100
Oranges       80
Plátanos      60
Uvas         120
Peras         90

In [8]:
df_reset = df.reset_index()
print(df_reset)

   Producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Plátanos      60
3      Uvas     120
4     Peras      90