In [1]:
import pandas as pd

In [2]:
data = {
    'Producto': ['Manzanas', 'Naranjas', 'Plátanos', 'Manzanas', 'Peras'],
    'Precio': [100, 80, 60, 100, 90],
    'Stock': [30, 50, 20, 30, 40]
}

df = pd.DataFrame(data)
df

   Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Plátanos      60     20
3  Manzanas     100     30
4     Peras      90     40

In [3]:
valores_unicos = df.nunique()
print("Valores únicos por columna:\n", valores_unicos)

Valores únicos por columna:
 Producto    4
Precio      4
Stock       4
dtype: int64

In [4]:
frecuencia_productos = df['Producto'].value_counts()
print("Frecuencia de productos:\n", frecuencia_productos)

Frecuencia de productos:
 Manzanas    2
Naranjas    1
Plátanos    1
Peras       1
Name: Producto, dtype: int64

In [5]:
moda_precio = df['Precio'].mode()
print("Moda de precios:\n", moda_precio)

Moda de precios:
 0    100
Name: Precio, dtype: int64