In [1]:
import pandas as pd

In [2]:
data = {
    'Fecha': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Valor': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}

df = pd.DataFrame(data)
df.set_index('Fecha', inplace=True)
df

            Valor
Fecha
2023-01-01     10
2023-01-02     20
2023-01-03     30
2023-01-04     40
2023-01-05     50
2023-01-06     60
2023-01-07     70
2023-01-08     80
2023-01-09     90
2023-01-10    100

In [3]:
media_movil = df['Valor'].rolling(window=3).mean()
print("Media Móvil:\n", media_movil)

Media Móvil:
 Fecha
2023-01-01     NaN
2023-01-02     NaN
2023-01-03    20.0
2023-01-04    30.0
2023-01-05    40.0
2023-01-06    50.0
2023-01-07    60.0
2023-01-08    70.0
2023-01-09    80.0
2023-01-10    90.0
Name: Valor, dtype: float64

In [5]:
suma_movil = df['Valor'].rolling(window=2).sum()
print("Suma Móvil:\n", suma_movil)

Suma Móvil:
 Fecha
2023-01-01      NaN
2023-01-02     30.0
2023-01-03     50.0
2023-01-04     70.0
2023-01-05     90.0
2023-01-06    110.0
2023-01-07    130.0
2023-01-08    150.0
2023-01-09    170.0
2023-01-10    190.0
Name: Valor, dtype: float64

In [6]:
std_movil = df['Valor'].rolling(window=3).std()
print("Desviación Estándar Móvil:\n", std_movil)

Desviación Estándar Móvil:
 Fecha
2023-01-01     NaN
2023-01-02     NaN
2023-01-03    10.0
2023-01-04    10.0
2023-01-05    10.0
2023-01-06    10.0
2023-01-07    10.0
2023-01-08    10.0
2023-01-09    10.0
2023-01-10    10.0
Name: Valor, dtype: float64