In [1]:
import pandas as pd

In [2]:
data = {
    'A': [1, 2, None, 4, 5],
    'B': [None, 2, 3, 4, None],
    'C': [1, 2, 3, None, 5]
}

df = pd.DataFrame(data)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  NaN  5.0

In [3]:
faltantes_por_columna = df.isnull().sum()
print("Número de valores faltantes por columna:\n", faltantes_por_columna)

Número de valores faltantes por columna:
 A    1
B    2
C    1
dtype: int64

In [4]:
df_sin_filas_faltantes = df.dropna()
print("DataFrame sin filas con valores faltantes:\n", df_sin_filas_faltantes)

DataFrame sin filas con valores faltantes:
      A    B    C
1  2.0  2.0  2.0

In [5]:
df_sin_columnas_faltantes = df.dropna(axis=1)
print("DataFrame sin columnas con valores faltantes:\n", df_sin_columnas_faltantes)

DataFrame sin columnas con valores faltantes:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [7]:
df_rellenado = df.fillna(0)
print("DataFrame con valores faltantes rellenados con 0:\n", df_rellenado)

DataFrame con valores faltantes rellenados con 0:
      A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  0.0  3.0  3.0
3  4.0  4.0  0.0
4  5.0  0.0  5.0

In [8]:
df_rellenado_media = df.fillna(df.mean())
print("DataFrame con valores faltantes rellenados con la media:\n", df_rellenado_media)

DataFrame con valores faltantes rellenados con la media:
      A    B     C
0  1.0  3.0  1.00
1  2.0  2.0  2.00
2  3.0  3.0  3.00
3  4.0  4.0  2.75
4  5.0  3.0  5.00

In [9]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  NaN  3.0  3.0
3  4.0  4.0  NaN
4  5.0  NaN  5.0

In [10]:
df_rellenado_ffill = df.fillna(method='ffill')
print("DataFrame con valores faltantes rellenados con el valor anterior:\n", df_rellenado_ffill)

DataFrame con valores faltantes rellenados con el valor anterior:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  2.0  3.0  3.0
3  4.0  4.0  3.0
4  5.0  4.0  5.0

In [11]:
df_rellenado_bfill = df.fillna(method='bfill')
print("DataFrame con valores faltantes rellenados con el valor siguiente:\n", df_rellenado_bfill)

DataFrame con valores faltantes rellenados con el valor siguiente:
      A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  2.0
2  4.0  3.0  3.0
3  4.0  4.0  5.0
4  5.0  NaN  5.0