In [17]:
import pandas as pd

data = {
    'Producto': ['Manzanas', 'Naranjas', 'Plátanos', 'Uvas', 'Peras'],
    'Precio': [100, 80, 60, 120, 90],
    'Stock': [30, 50, 20, 60, 40]
}

df = pd.DataFrame(data)
df

   Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Plátanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [3]:
filtro_precio = df[df['Precio'] >= 80]
print("Productos con precio mayor a 80:\n", filtro_precio)

Productos con precio mayor a 80:
    Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
3      Uvas     120     60
4     Peras      90     40

In [11]:
filtro_multiple = df[(df['Precio'] > 80) & (df['Stock'] > 30)]
print("Productos con precio mayor a 80 y stock mayor a 30:\n", filtro_multiple)

Productos con precio mayor a 80 y stock mayor a 30:
   Producto  Precio  Stock
3     Uvas     120     60
4    Peras      90     40

In [15]:
filtro_texto = df[df['Producto'].str.contains('a')]
print("Productos que contienen la letra 'a':\n", filtro_texto)

Productos que contienen la letra 'a':
    Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Plátanos      60     20
4     Peras      90     40

In [13]:
df

   Producto  Precio  Stock
0  Manzanas     100     30
1  Naranjas      80     50
2  Plátanos      60     20
3      Uvas     120     60
4     Peras      90     40

In [18]:
filtro_columnas = df[['Producto', 'Precio']]
print("Seleccionar columnas 'Producto' y 'Precio':\n", filtro_columnas)

Seleccionar columnas 'Producto' y 'Precio':
    Producto  Precio
0  Manzanas     100
1  Naranjas      80
2  Plátanos      60
3      Uvas     120
4     Peras      90

In [19]:
filtro_query = df.query('Precio > 80')
print("Productos con precio mayor a 80 usando query:\n", filtro_query)

Productos con precio mayor a 80 usando query:
    Producto  Precio  Stock
0  Manzanas     100     30
3      Uvas     120     60
4     Peras      90     40

In [20]:
filtro_isin = df[df['Producto'].isin(['Manzanas', 'Uvas'])]
print("Productos que son 'Manzanas' o 'Uvas':\n", filtro_isin)

Productos que son 'Manzanas' o 'Uvas':
    Producto  Precio  Stock
0  Manzanas     100     30
3      Uvas     120     60