In [7]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

In [5]:
df['sqrt_A'] = np.sqrt(df['A'])
display(df)

   A   B    sqrt_A
0  1  10  1.000000
1  2  20  1.414214
2  3  30  1.732051
3  4  40  2.000000
4  5  50  2.236068

In [6]:
df['cumsum_B'] = np.cumsum(df['B'])
display(df)

   A   B    sqrt_A  cumsum_B
0  1  10  1.000000        10
1  2  20  1.414214        30
2  3  30  1.732051        60
3  4  40  2.000000       100
4  5  50  2.236068       150

In [8]:
data = {
    'x': np.random.rand(100),
    'y': np.random.rand(100)
}

df = pd.DataFrame(data)
display(df)

           x         y
0   0.554375  0.615492
1   0.090845  0.322931
2   0.816724  0.209445
3   0.219022  0.691654
4   0.524866  0.368619
..       ...       ...
95  0.922049  0.789309
96  0.901152  0.649357
97  0.192903  0.421949
98  0.902268  0.155528
99  0.484136  0.793604

[100 rows x 2 columns]

In [9]:
correlacion, p_valor = stats.pearsonr(df['x'], df['y'])
print(f"Correlación de Pearson: {correlacion}, p-valor: {p_valor}")

Correlación de Pearson: -0.052310074069749, p-valor: 0.6052412108248583

In [10]:
slope, intercept, r_value, p_value, std_err = stats.linregress(df['x'], df['y'])
print(f"Regresión Lineal: y = {slope} * x + {intercept}")

Regresión Lineal: y = -0.05073796060175479 * x + 0.4777012240940785

In [12]:
data = {
    'valores': np.random.randn(100)
}

df = pd.DataFrame(data)

In [14]:
df['exp_valores'] = np.exp(df['valores'])
display(df)

     valores  exp_valores
0  -0.131104     0.877126
1  -0.375968     0.686625
2   0.228186     1.256319
3  -1.924192     0.145994
4   0.343909     1.410450
..       ...          ...
95 -0.702691     0.495251
96  0.569523     1.767423
97 -2.646858     0.070874
98 -1.490325     0.225299
99 -1.100209     0.332801

[100 rows x 2 columns]

In [15]:
muestra = np.random.randn(100) + 2

In [16]:
t_stat, p_valor = stats.ttest_1samp(muestra, 2)
print(f"Prueba t de una muestra: t-statistic = {t_stat}, p-valor = {p_valor}")

Prueba t de una muestra: t-statistic = -1.3350439031953842, p-valor = 0.18492386245551443